猜中国古人（1000人版本1.1).yml
app:
  description: AI开局挑中一个历史人物，玩家提出一般疑问句，AI回答”是“或”否“。
  icon: ea667c9c-4feb-4e04-bf31-7834f07ed31c
  icon_background: '#FFEAD5'
  icon_type: image
  mode: advanced-chat
  name: 猜中国古人（1000人版本1.1)
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 17024cc0-cc93-48f7-ae6f-03b2870a2307
    name: target_answer
    selector:
    - conversation
    - target_answer
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 输入“开始”或“开始游戏”，我会在草稿纸上写下一个人物，请您向我提问答案为“是”或“否”的问题，最终猜出这个人物。目前是中阶1000人知识库
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: true
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1771756130773-source-1771757657176-target
      selected: false
      source: '1771756130773'
      sourceHandle: source
      target: '1771757657176'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1771751786650-source-1771757878794-target
      selected: false
      source: '1771751786650'
      sourceHandle: source
      target: '1771757878794'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771757878794-false-1771756130773-target
      selected: false
      source: '1771757878794'
      sourceHandle: 'false'
      target: '1771756130773'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1771754566955-source-1771820872825-target
      source: '1771754566955'
      sourceHandle: source
      target: '1771820872825'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1771757878794-true-1771916136695-target
      source: '1771757878794'
      sourceHandle: 'true'
      target: '1771916136695'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1771916136695-source-1771754117803-target
      source: '1771916136695'
      sourceHandle: source
      target: '1771754117803'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1771754117803-source-1773839370391-target
      source: '1771754117803'
      sourceHandle: source
      target: '1773839370391'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1773839370391-source-1771754566955-target
      source: '1773839370391'
      sourceHandle: source
      target: '1771754566955'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 71
      id: '1771751786650'
      position:
        x: 351.3900839461361
        y: 349.5491761818924
      positionAbsolute:
        x: 351.3900839461361
        y: 349.5491761818924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - n5hs3J7TCNKqgC2HS2FiEOO/PV084BZXQVQzJFCZUyc7fnSLjkdnI5vilzo/LzNH
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1771916136695'
        - random_number
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 88
      id: '1771754117803'
      position:
        x: 1270.0527386549275
        y: 319.5597446516017
      positionAbsolute:
        x: 1270.0527386549275
        y: 319.5597446516017
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1773839370391'
          - result
          variable_selector:
          - conversation
          - target_answer
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 82
      id: '1771754566955'
      position:
        x: 1850.3053584470176
        y: 342.9263465777833
      positionAbsolute:
        x: 1850.3053584470176
        y: 342.9263465777833
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - conversation
          - target_answer
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 100
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: 3dc8d003-f888-4f35-a12f-9ac5a0085e02
          role: system
          text: "你是一个冷酷、极其死板的历史“海龟汤”考官。\n【最高机密】本局的唯一正确答案是:{{target_answer}}。绝对禁止在玩家完全猜中前以任何形式泄露。\n\
            \n【当前系统状态】\n系统记录的当前对话轮数（N）: {{#sys.dialogue_count#}}\n\n【三大铁律（作为机器，你必须严格遵守，不可违背，不可自我矛盾）】\n\
            \n铁律一：常规提问（只答是非）\n当玩家询问目标人物的特征（如：是男的吗？唐朝的吗？文臣吗？）或猜测了错误的人名时，你【必须且只能】回复以下三种内容之一，严禁多加任何解释文字或标点符号：\n\
            1. 是。\n2. 否。\n3.或许是。\n4.或许不是\n5. 无可奉告，换个问法吧\n\n在回答‘是’或‘否’之前，请在内心先进行一次事实核查，尤其是涉及‘XX之称’、‘几大名将’等固定历史头衔时。\n\
            \n铁律二：玩家求助与提示判定（绝对禁止进行数学大小计算）\n当玩家明确发送“猜不出”、“求提示”、“放弃”等求助词汇时，你必须且只能根据上方的【当前系统状态】数字\
            \ N，进行“查表判定”：\n- 查表 A 组：如果 N 是 1, 2, 3, 4, 5, 6, 7 中的一个数字，说明次数不足。\n  【强制回复动作】：只准回复“目前系统记录轮数为\
            \ N，有效提问次数尚不足，暂不提供提示，请继续提问。”（警告：严禁在回复中编造“因为 X 小于 Y”之类的废话逻辑！）\n\n- 查表 B\
            \ 组：如果 N是 8, 9, 10 , 11, 12, 13, 14, 15 或更大数字，说明次数达标。\n  【强制回复动作】：回复“提问已达标！考官给你一个提示：[在此处根据\
            \ {// 给出另外一个不包含该人名的典故或特征]。”\n\n铁律三：胜利结算\n只有当玩家输入的名字与【{{target_answer}}】是同一个人时，触发胜利机制：\n\
            【强制回复动作】：立刻切换为热情语气大声宣布：“\U0001F389 恭喜你，完全正确！答案正是【{{target_answer}}】！[此处用\
            \ 50 个以内字简短科普 TA 的功绩]。还要再来一局吗？请输入“再来一局”。”，并在用户发送“再来一局”前，暂时是通用人工智能状态。"
        reasoning_format: tagged
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        structured_output_enabled: true
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1771756130773'
      position:
        x: 947.9165234626969
        y: 486.7291193342503
      positionAbsolute:
        x: 947.9165234626969
        y: 486.7291193342503
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1771756130773.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 101
      id: '1771757657176'
      position:
        x: 1231.3341149543046
        y: 486.7291193342503
      positionAbsolute:
        x: 1231.3341149543046
        y: 486.7291193342503
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 7b7bdc40-4ac7-4c97-bf83-47e477372362
            value: ''
            varType: string
            variable_selector:
            - conversation
            - target_answer
          - comparison_operator: contains
            id: 3ee1de54-2c40-4f08-8cdb-dbca09723645
            value: 再来一局
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支
        type: if-else
      height: 148
      id: '1771757878794'
      position:
        x: 661.2467399372375
        y: 370.5491761818924
      positionAbsolute:
        x: 661.2467399372375
        y: 370.5491761818924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        author: Dify
        desc: ''
        height: 132
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"存储随机到的人名。","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"防止LLM透题。","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"保证人物难度适中","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textStyle":"font-size:
          16px;","textFormat":0}],"direction":null,"format":"","indent":0,"type":"root","version":1,"textStyle":"font-size:
          16px;"}}'
        theme: blue
        title: ''
        type: ''
        width: 324
      height: 132
      id: '1771818411461'
      position:
        x: 1045.544562937118
        y: 100.63514922231496
      positionAbsolute:
        x: 1045.544562937118
        y: 100.63514922231496
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 324
    - data:
        answer: 写好了，请猜猜看，我会回答“是”或"否“
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 114
      id: '1771820872825'
      position:
        x: 2137.7948387033875
        y: 332.91319310588307
      positionAbsolute:
        x: 2137.7948387033875
        y: 332.91319310588307
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import random\n\ndef main():\n    # 生成 1 到 1000 的随机数\n    random_num\
          \ = random.randint(1, 1000)\n    \n    # 返回字典，转为字符串\n    return {\n    \
          \    \"random_number\": str(random_num)\n    }"
        code_language: python3
        outputs:
          random_number:
            children: null
            type: string
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 代码执行
        type: code
        variables: []
      height: 79
      id: '1771916136695'
      position:
        x: 988.3008304971011
        y: 319.5597446516017
      positionAbsolute:
        x: 988.3008304971011
        y: 319.5597446516017
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import re\nimport random\n\ndef main(**args):\n    docs = args.get('arg1')\
          \ or []\n    \n    if not docs:\n        return {\"result\": \"王阳明\"}\n\n\
          \    doc = random.choice(docs)\n    content = doc.get('content', '').strip()\n\
          \    \n    clean_name = re.sub(r'^\\s*\\d+\\s*[:：]\\s*', '', content)\n\
          \    clean_name = clean_name.strip()\n\n    return {\n        \"result\"\
          : clean_name\n    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1771754117803'
          - result
          value_type: array[object]
          variable: arg1
      height: 50
      id: '1773839370391'
      position:
        x: 1552.8103557210404
        y: 326.6798762969137
      positionAbsolute:
        x: 1552.8103557210404
        y: 326.6798762969137
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -80.15141937126123
      y: 102.76971529148824
      zoom: 0.5140568991692673
  rag_pipeline_variables: []
